set -euxo pipefail

strict_env

# set this environment variable so we can introspect on th ecurrent
# environment
export DEV_ENVRC="on"
export DEV_ENVRC_NAME="example"

has python
has lefthook
has hatch

unset PYTHONPATH

